@import '../../../sass/variables';

.user {
  list-style: none;

  & li {
    display: block;
    height: 100%;

    & a {
      text-decoration: none;
      background: $headerLinkRed;
      height: 100%;
      display: block;
      padding: 0.5rem 1rem;

      &:hover {
        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3);
      }

      &:active {
        transform: translateY(2px);
        box-shadow: none;
      }
    }
  }
}
